@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  background: #f7f4e9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  font-family: "Roboto", sans-serif;
}

/* authentication header styles */
.header {
  align-items: center;
  color: #fff;
  background-color: #313843;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.header h1 {
  font-size: 2.4rem;
  margin-left: 30px;
}

.header a {
  color: #fff;
  margin-right: 30px;
}

/* main header styles */
.mainHeader {
  position: sticky;
  top: 0;
  color: #fff;
  background-color: #313843;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-evenly;
  padding: 0 3%;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.mainHeader h1 {
  font-size: 2.5rem;
}

.search input {
  background: white;
  color: black;
  border: none;
  padding: 8px 25px;
  width: 300px;
  border-radius: 6px;
  margin-right: 10px;
}

.search button {
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
  background: #c41200;
  border: 1px solid white;
  font-size: 1.2rem;
}

.mainHeader a {
  color: #fff;
}

/*loading styles */

.loading {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

/* welcome page styles */
.welcomePageMain {
  background: url("img/table.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcomePageContainer h1 {
  text-align: center;
  font-size: 4.1rem;
}

.welcomePageContainer h3 {
  font-size: 2rem;
}

.welcomePageBtn {
  font-size: 2rem;
  font-weight: bold;
  background: #c41200;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 15px 3px;
  width: 400px;
  border: 2px solid white;
  cursor: pointer;
}

.welcomePageBtn:hover {
  opacity: 0.7;
}

.welcomePageContainer p {
  margin-top: 20px;
  font-size: 1.6rem;
}
.welcomePageBtn2 {
  font-size: 2rem;
  font-weight: bold;
  background: #c41200;
  color: white;
  border-radius: 8px;
  padding: 15px 3px;
  width: 400px;
  border: 2px solid white;
  cursor: pointer;
}

.welcomePageBtn2:hover {
  opacity: 0.7;
}

/* register syles */
.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.registerContainer h2 {
  font-size: 2.5rem;
}

label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 1.6rem;
  display: block;
}

#firstName,
#lastName,
#username,
#password,
#city,
#email {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 380px;
}

.signinContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: px;
}

.termsOfServiceDiv {
  width: 380px;
}

.registerBtn {
  font-size: 1.8rem;
  background: #c41200;
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.registerBtn:hover {
  opacity: 0.7;
}

/*login styles */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginContainer h2 {
  font-size: 2.5rem;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
}

.loginBtn {
  font-size: 2rem;
  font-weight: bold;
  background: #c41200;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  border: 2px solid white;
  cursor: pointer;
}

.loginBtn:hover {
  opacity: 0.7;
}

/* dashboard styles */
.welcomeBack {
  font-size: 2.5rem;
  font-weight: bold;
}
/* restaurant list styles */
.restarauntListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 95%;
}

/* Restaurant Link styles */

.restaurantLink {
  width: 30%;
  border-radius: 6px;
  border: 2px solid gray;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
  background: white;
}

.restaurantLink h2 {
  font-size: 2.5rem;
  margin-left: 15px;
}

.restaurantLink p {
  font-size: 1.8rem;
  margin-left: 15px;
}

.restaurantLink .ratingDiv {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

/* restaurant card style */

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurantCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  border-radius: 6px;
  border: 2px solid gray;
  margin: 40px 20px;
  text-align: left;
  background: white;
}

.restaurantCard .ratingDiv {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.restaurantCard h2 {
  font-size: 2.5rem;
  margin-left: 15px;
}

.restaurantCard p {
  font-size: 1.8rem;
  margin-left: 15px;
}

.restaurantCard button {
  padding: 8px 15px;
  border-radius: 6px;
  color: white;
  background: #c41200;
  margin-left: 20px;
  margin-bottom: 15px;
  border: 2px solid white;
  font-size: 1.6rem;
}

/*Dashboard Styles */

.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* add form styles */

.addFormContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.addformContainer form {
  display: flex;
  flex-direction: column;
}

.addFormContainer form input {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 380px;
}

.addFormContainer form label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 1.6rem;
  display: block;
  text-align: left;
}

.ratingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* add form styles */

.addFormContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.addFormContainer h2 {
  margin-top: 30px;
  font-size: 2.5rem;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 400px;
  margin-bottom: 50px;
}

.addFormContainer .addForm input {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 380px;
}

.formColumn {
  display: block;
}

.formRow {
  display: flex;
  margin-left: 12px;
}

.formBtns button {
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  background: #c41200;
  margin-left: 20px;
  border: 2px solid white;
  font-size: 1.6rem;
}

.formBtns button:hover {
  opacity: 0.7;
}
