@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  background: #f7f4e9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  font-family: "Roboto", sans-serif;
}

/* authentication header styles */
.header {
  align-items: center;
  color: #fff;
  background-color: #313843;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100vw;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);

  @media (max-width: 580px) {
    justify-content: space-evenly;
  }

  h1 {
    font-size: 2.5rem;
    margin-left: 30px;

    @media (max-width: 580px) {
      font-size: 2rem;
    }
  }

  a {
    color: #fff;
    margin-right: 30px;
    font-size: 1.8rem;
    text-decoration: none;
    @media (max-width: 580px) {
      font-size: 1.6rem;
    }
  }
  button {
    background: #313843;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    margin-right: 30px;
    cursor: pointer;
  }
}

/* main header styles */
.mainHeader {
  position: sticky;
  top: 0;
  color: #fff;
  background-color: #313843;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-evenly;
  padding: 0 3%;
  width: 100vw;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);

  @media (max-width: 800px) {
    flex-direction: column;
    height: 150px;
    justify-content: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  button {
    background: #313843;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    margin-right: 30px;
    cursor: pointer;

    @media (max-width: 800px) {
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }

  .search {
    @media (max-width: 800px) {
      margin-top: 10px;
      margin-left: 60px;
    }

    input {
      background: white;
      color: black;
      border: none;
      padding: 8px 25px;
      width: 220px;
      border-radius: 6px;
      margin-right: 10px;
      outline: none;
    }
    button {
      padding: 4px 10px;
      border-radius: 6px;
      color: white;
      padding: 6px 15px;
      background: #c41200;
      border: 1px solid white;
      font-size: 1.2rem;
    }
    button:hover {
      opacity: 0.7;
    }
  }
}

/*loading styles */
.loading {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}

/* welcome page styles */
.welcomePageMain {
  background: url("img/table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;

  .welcomePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      text-align: center;
      font-size: 4.6rem;

      @media (max-width: 500px) {
        font-size: 4.2rem;
      }
    }
    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.6rem;
    }

    .welcomePageBtn {
      font-size: 2rem;
      font-weight: bold;
      background: #c41200;
      color: white;
      margin-bottom: 20px;
      border-radius: 8px;
      padding: 15px 3px;
      width: 400px;
      border: 2px solid white;
      cursor: pointer;

      @media (max-width: 500px) {
        width: 380px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .welcomePageBtn2 {
      font-size: 2rem;
      font-weight: bold;
      background: #c41200;
      color: white;
      border-radius: 8px;
      padding: 15px 3px;
      width: 400px;
      border: 2px solid white;
      cursor: pointer;

      @media (max-width: 500px) {
        width: 380px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* register syles */
.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  h2 {
    font-size: 2.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      text-align: left;
      font-weight: bold;
      margin-bottom: 3px;
      font-size: 1.6rem;
      display: block;
    }

    #firstName,
    #lastName,
    #username,
    #password,
    #city,
    #email {
      border: 1px solid black;
      border-radius: 6px;
      margin-bottom: 10px;
      padding: 15px 20px;
      width: 380px;

      @media (max-width: 580px) {
        width: 300px;
      }
    }
  }
  .termsOfServiceDiv {
    width: 380px;

    @media (max-width: 580px) {
      width: 380px;
    }

    a {
      color: black;
      text-decoration: none;
      font-size: 1.6rem;
      margin-bottom: px;
    }
  }
  .loginBtn {
    font-size: 2rem;
    font-weight: bold;
    background: #c41200;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    border: 2px solid white;
    cursor: pointer;

    @media (max-width: 580px) {
      width: 340px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

/*login styles */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 80px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    label {
      text-align: left;
      font-weight: bold;
      margin-bottom: 3px;
      font-size: 1.6rem;
      display: block;
    }

    #username,
    #password {
      border: 1px solid black;
      border-radius: 6px;
      margin-bottom: 10px;
      padding: 15px 20px;
      width: 380px;

      @media (max-width: 580px) {
        width: 300px;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
  }

  .loginBtn {
    font-size: 2rem;
    font-weight: bold;
    background: #c41200;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    border: 2px solid white;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

/* dashboard styles */
.welcomeBack {
  font-size: 2.5rem;
  font-weight: bold;
}
/* restaurant list styles */
.restarauntListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 95%;

  h2 {
    font-size: 2.5rem;
  }
}

/* Restaurant Link styles */

.restaurantLink {
  width: 30%;
  border-radius: 6px;
  border: 2px solid gray;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
  background: white;

  @media (max-width: 800px) {
    width: 45%;
  }

  @media (max-width: 580px) {
    width: 80%;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .linkImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  h2 {
    font-size: 2.5rem;
    margin-left: 15px;
    color: black;
  }

  p {
    font-size: 1.8rem;
    margin-left: 15px;
    color: black;
  }

  .ratingDiv {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    font-size: 2rem;
    margin-top: -12px;
  }
}
/* restaurant card style */

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    display: flex;
    flex-direction: row;
    width: 70%;
    background: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 6px;
    border: 2px solid gray;
    margin: 40px 20px;

    .cardLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 70%;
      text-align: left;

      p {
        font-size: 1.8rem;
        margin-left: 15px;
      }

      .cardContact {
        margin-top: 10px;

        p {
          margin: -0.5px 0;
          margin-left: 15px;
        }
      }

      .ratingDiv {
        display: flex;
        justify-content: flex-start;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 2.5rem;
      }
      h2 {
        font-size: 2.5rem;
        margin-left: 15px;
      }
      .cardAddress p {
        margin: -0.5px 0;
        margin-left: 15px;
      }

      .cardBtnsContainer {
        display: flex;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        button {
          padding: 8px 15px;
          border-radius: 6px;
          color: white;
          background: #c41200;
          margin: 7px 0 15px 20px;
          border: 2px solid white;
          font-size: 1.6rem;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .stamped {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;

      img {
        width: 100px;
        align-self: flex-end;
        margin: 0 20px 20px 0;

        @media (max-width: 600px) {
          width: 130px;
        }
      }
    }
  }
}

/*Dashboard Styles */

.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* add form styles */

.addFormContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  h2 {
    margin-top: 30px;
    font-size: 2.5rem;
  }

  .addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 400px;
    margin-bottom: 50px;

    input {
      border: 1px solid black;
      border-radius: 6px;
      margin-bottom: 10px;
      padding: 15px 20px;
      width: 380px;

      @media (max-width: 580px) {
        width: 300px;
      }
    }
    label {
      text-align: left;
      font-weight: bold;
      margin-bottom: 3px;
      font-size: 1.6rem;
      display: block;
      text-align: left;
    }
    .formColumn {
      display: block;
    }
    .formRow {
      display: flex;
      margin-left: 12px;
    }
    .ratingDiv {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .stamped {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      margin-bottom: 16px;
    }
    .formBtns button {
      padding: 10px 15px;
      border-radius: 6px;
      color: white;
      background: #c41200;
      margin-left: 20px;
      border: 2px solid white;
      font-size: 1.6rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
